body{
    font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        text-align: center;
}
h1{
    text-align: center;
    font-size: 60px;
    color: white;

}
h2{
    font-size: 40px;
}

.donation-banner{

    text-align:center;
    color: white;
    padding-left: 2px;
    margin-bottom: 150px;
    width: 100%;
    height: 700px;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.donate-flooded{
    font-size: 18px;
    margin-bottom: 150px;

}
#text-here{
    color: dimgray;
}
.link-button{
    background-image: linear-gradient(rgb(47, 0, 255), tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-size: 100%;
    border-radius: 5px;
    
}
.container{
    background-color: silver;
    display: inline-block;
    padding: 30px;

}
#third{
 color: brown;
 border: 5px solid brown;

}
.flexible-container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    
    

}
#one{
    background-color: silver;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    padding: 30px;
    margin-right: 10px;


}
#two{
    background-color: cadetblue;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    padding: 30px;
    margin-right: 10px;
}
#three{
    background-color: burlywood;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    padding: 30px;
}
.form-box{
    padding: 60px;
    background-color:rgb(226, 220, 209);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
   
}
.form-box input{
    font-size: 20px;
    padding: 15px 15px;
    background-color:rgb(185, 211, 178);
    margin-bottom: 100px;

}
#color{
    background-color: rgb(223, 21, 21);
    text-align: center;
    padding: 10px 10px;
    color: white;

}
#new {
    color: red;
}

#done {
    color: darkgray;
}
.footer{
    background-color: black;
    padding: 15px 15px;
    font-style: italic;
    text-align: center;
    text-decoration-color: brown;
    margin-bottom: 0%;
}






    